# DP_PORT=8080
# API_EXTERNAL_URL=http://localhost:8080
# DP_SITE_URL=http://localhost:3000
API_EXTERNAL_URL=http://0.0.0.0:8080
DP_SITE_URL=http://0.0.0.0:3000


DP_DB_URL=

DP_JWT_SECRET=

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_REGION=
AWS_BUCKET_NAME=
